---
import GithubStar from "./GithubStar.astro";

const twitterText = "Vitai | Modern Vitest Runner Powered by AI";
const hashtags = "vitai, vitest, ai";
const url = "https://google.com";

let stars = 0;
const res = await fetch(
	"https://api.github.com/repos/lucasangelino/vitai2/stargazers",
);
if (res.ok) {
	const data = await res.json();
	console.log(data);
	stars = data.length;
}
---

<nav class="max-w-[1400px]">
	<ul class="flex flex-row gap-5 items-center justify-end px-8 py-4">
		<li>
			<GithubStar />
		</li>
	</ul>
</nav>
